* {
    color: white;
    background-color: #282c34;
}

.App * {
  text-align: center;
}

.PanelAndDisplay { 
    display: flex;
    justify-content: center;
}

.PanelAndDisplay * { 
    margin: 20px;
}

.Panel { 
    border: 1px solid white;
}

.Display { 
    border: 1px solid white;
    width: 60%;
}

